fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
boto3==1.35.24
redis==5.2.1
pdf2docx==0.5.8
pypdf==5.0.1
python-docx==1.1.2
pillow==11.1.0
reportlab==4.2.5
weasyprint==62.0
pandas==2.2.3
python-dotenv==1.0.1
python-multipart==0.0.9
pdf2image==1.17.0
img2pdf==0.5.1
docx2pdf==0.1.8
markdown==3.7
pyresparser==1.0.6
transformers==4.45.2
torch==2.8.0
nltk==3.9.1
spacy==3.7.6